@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  --text: hsl(200, 15%, 8%);
  --background: hsl(0, 0%, 98%);
  --elements: hsl(0, 0%, 100%);
  --icon-fill: hsl(0, 0%, 100%);
  --icon-stroke: hsl(200, 15%, 8%);
  --shadow: rgba(0, 0, 0, 0.15);
}

html.dark {
  --text: hsl(0, 0%, 100%);
  --background: hsl(207, 26%, 17%);
  --elements: hsl(209, 23%, 22%);
  --icon-fill: hsl(0, 0%, 100%);
  --icon-stroke: hsl(0, 0%, 100%);
  --shadow: rgba(255, 255, 255, 0.15);
}

body {
  color: var(--text);
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  margin: 0 0 1rem;
}

p {
  font-size: 14px;
  line-height: 1;
  margin: 0 0 11px;
}

a {
  color: var(--text);
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.thin {
  font-weight: 300;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 800;
}

.container {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-inline: -15px;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

[class*="col"] {
  padding-inline: 15px;
}

.col {
  flex: 1 0 0;
}

.col-auto {
  flex: 0 0 auto;
}

.col-4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media screen and (min-width: 576px) {
  .container {
    margin-inline: auto;
    max-width: 540px;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col-md-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .col-lg {
    flex: 1 0 0;
    max-width: none;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    max-width: none;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1310px;
  }
}

.header {
  position: relative;
  padding-top: 32px;
  padding-bottom: 31px;
  background-color: var(--elements);
  box-shadow: 0 4px 4px 1px var(--shadow);
}

.brand {
  font-size: 14px;
  line-height: 1;
  margin: 0;
}

.mode-label {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  letter-spacing: 0.2px;
}

.mode-icon {
  display: block;
  width: 14px;
  height: 14px;
}

.mode-switcher {
  display: none;
}

@media screen and (min-width: 1440px) {
  .header {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .brand {
    font-size: 23px;
    letter-spacing: 0.025rem;
  }

  .mode-label {
    font-size: 16px;
  }
}

.main {
  padding-top: 20px;
  padding-bottom: 65px;
}

@media screen and (min-width: 1440px) {
  .main {
    padding-top: 50px;
    padding-bottom: 44px;
  }
}

.country {
  padding-top: 80px;
  background-color: var(--background);
}

.form-group {
  position: relative;
  margin-bottom: 36px;
  box-shadow: 0 0 4px 2px var(--shadow);
}

@media screen and (min-width: 1440px) {
  .form-group {
    margin-bottom: 3rem;
  }
}

.form-icon {
  position: absolute;
  top: 18px;
  left: 32px;
}

.form-icon svg {
  display: block;
  width: 16px;
  height: 16px;
}

.form-field {
  display: block;
  border: none;
  appearance: none;
  color: var(--text);
  font-size: 11px;
  line-height: 1;
  padding: 20px 18px 16px;
  width: 100%;
  border-radius: 4px;
  font-family: inherit;
  letter-spacing: 0.5px;
  background-color: var(--background);
}

.form-search {
  padding-left: 74px;
}

@media screen and (min-width: 1440px) {
  .form-search {
    width: 470px;
    font-size: 13px;
    padding: 18px 18px 18px 74px;
  }
}

.form-select {
  cursor: pointer;
  width: 200px;
  padding: 18px 24px;
  background-size: 16px 12px;
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23777777' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
}

@media screen and (min-width: 1440px) {
  .form-select {
    font-size: 13px;
  }
}

.card {
  display: block;
  width: 263px;
  border-radius: 4px;
  box-shadow: 0 0 4px 1px var(--shadow);
}

.card-group {
  row-gap: 40px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .col-card {
    margin-inline: auto;
  }
}

@media screen and (min-width: 1440px) {
  .card-group {
    row-gap: 76px;
    column-gap: 76px;
    margin-inline: 0;
  }
}

.card-header {
  border-bottom: 1px solid var(--shadow);
}

.card-flag {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.card-body {
  padding: 28px 23px 34px;
  border-radius: 0 0 4px 4px;
  background-color: var(--elements);
}

.card-title {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 20px;
}

.country-info {
  padding: 30px 30px 30px 90px;
}

.country-name {
  font-size: 32px;
  margin-bottom: 25px;
}

.country-flag {
  width: 560px;
  /* height: 400px; */
  /* object-fit: cover; */
}

.country-borders {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 65px;
}

.btn {
  display: inline-block;
  line-height: 1;
  padding: 0.75em 2.5em;
  border-radius: 4px;
  box-shadow: 0 0 4px 2px var(--shadow);
  background-color: var(--elements);
}

.mb-lg {
  margin-bottom: 80px;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.btn-small {
  font-size: 16px;
  line-height: 1;
  padding: 0.375em;
  min-width: 98px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 4px 2px var(--shadow);
  background-color: var(--elements);
}

.px-0 {
  padding-inline: 0;
}

.mx-0 {
  margin-inline: 0;
}
